<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fin de la Pobreza</title>
</head>
<body>
    

<h1>Objetivo 1: Fin de la pobreza</h1>
<h2>Erradicar la pobreza en todas sus formas sigue siendo uno de los principales desafíos que enfrenta la humanidad. Si bien la cantidad de personas que viven en la extrema pobreza disminuyó en más de la mitad entre 1990 y 2015, aún demasiadas luchan por satisfacer las necesidades más básicas.</h2>

<h2>A nivel mundial, alrededor de 736 millones de personas aún viven con menos de US$1,90 al día (2015) y muchos carecen de acceso a alimentos, agua potable y saneamiento adecuados. El crecimiento económico acelerado de países como China e India ha sacado a millones de personas de la pobreza, pero el progreso ha sido disparejo. La posibilidad de que las mujeres vivan en situación de pobreza es desproporcionadamente alta en relación con los hombres, debido al acceso desigual al trabajo remunerado, la educación y la propiedad.</h2>

<h2>Los avances también han sido limitados en otras regiones, como Asia Meridional y África subsahariana, donde vive el 80% de la población mundial que se encuentra en condiciones de extrema pobreza. Además, nuevas amenazas que plantean el cambio climático, los conflictos y la inseguridad alimentaria necesitan mayores esfuerzos para sacar a las personas de la pobreza.</h2>

<h2>Los Objetivos de Desarrollo Sostenible constituyen un compromiso audaz para finalizar lo que comenzamos y terminar con la pobreza en todas sus formas y dimensiones para 2030. Esto requiere enfocarse en los más vulnerables, aumentar el acceso a los recursos y servicios básicos y apoyar a las comunidades afectadas por conflictos y desastres relacionados con el clima.</h2>

<h1>En cifras</h1>

<h2>736 millones
    736 millones de personas aún viven en pobreza extrema.</h2>

<h2>10%
    El 11% de la población mundial vive en la pobreza extrema, cifra inferior al 36% registrado en 1990.</h2>

<h2>1.300 millones
    Aproximadamente 1.300 millones de personas viven en la pobreza multidimensional.</h2>

<h2>50%
    La mitad de las personas que viven en la pobreza son menores de 18 año.</h2>

<h2>1 de cada 10
    Una de cada diez personas en el mundo es extremadamente pobre.</h2>

<h2>80%
    El 80% de las personas que viven con menos de US$ 1,90 viven en Asia Meridional y África subsahariana.</h2>


</body>
</html>